

.forgotBox{
    display: flex;
}

.left{
    width: 50%;
    
}

.right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.forgot_img{
    margin-top: 120px;
   width: 100%;
}


.forgot_submit{
    cursor: pointer;
    font-size: 18px;
    padding: 10px ;
    background-color:#20415c ;
    color: white;
}


.Forgot-link{
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}